@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
}

:root {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h2 {
  font-size: 4.8rem;
  color: #1d2130;
}

h3 {
  font-size: 2.8rem;
  color: #fff;
}

h4 {
  color: #fff;
  font-size: 2rem;
}

h5 {
  font-size: 1.4rem;
}

p {
  color: #525560;
}

.white-button {
  color: #1d2130;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 16px 32px;
  background: #fff;
  border-radius: 4px;
}

.green-button {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 16px 32px;
  background: #70c174;
  border: transparent;
  border-radius: 4px;
}

.services .green-square {
  background-color: #83d187;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.Donations .black .spending--2 .feeding, .Donations .black .spending--2 .safety, .Donations .black .spending--2 .percentage__1, .Donations .black .spending .helping, .Donations .black .spending .cleaning, .Donations .black .spending .planting {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  color: blue;
}

.information, .home--section .Content .image .center--text .stats, .home {
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.home__nav {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home__nav--content {
  gap: 40px;
  display: flex;
  align-items: center;
}
.home__nav--content :nth-child(1) {
  color: black;
}
.home__nav--content a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #525560;
}
.home__nav--content :last-child {
  align-items: center;
  padding: 12px 32px;
  background-color: #1d2130;
  color: #fff;
  border-radius: 4px;
}

.home--section {
  width: 100%;
}
.home--section .Content {
  border-image-width: auto;
  width: 100%;
  display: inline;
  border: 1px solid rgb(67, 67, 223);
  display: flex;
  justify-content: center;
  margin-top: 0px;
  display: flex;
  border: 5px blue;
}
.home--section .Content .image {
  height: 80rem;
  background-image: url(../images/BG\ Image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.home--section .Content .image .center--text {
  padding-top: 128px;
  width: 1304px;
  display: flex;
  margin: 0 auto;
}
@media screen and (max-width: 1410px) {
  .home--section .Content .image .center--text {
    width: 1004px;
    width: 95%;
    justify-content: center;
  }
}
.home--section .Content .image .center--text .button {
  background: transparent;
  border: 0px transparent;
  font-size: 1.6rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 0;
}
.home--section .Content .image .center--text__text {
  margin-top: 128px;
  margin-top: 124px;
  display: flex;
}
.home--section .Content .image .center--text p {
  margin-top: 0;
  color: #fff;
  font-size: 6.4rem;
  line-height: 76px;
}
.home--section .Content .image .center--text .Content__earth--click {
  display: flex;
  gap: 24px;
}
.home--section .Content .image .center--text .Content__earth--click .button {
  cursor: pointer;
}
.home--section .Content .image .center--text .stats {
  margin-top: 192px;
  top: 730px;
  display: flex;
  gap: 24px;
  align-items: center;
  font-size: 1.8rem;
}
.home--section .Content .image .center--text .stats h4 {
  color: #fff;
  font-size: 1.8rem;
}
.home--section .Content .image .center--text .stats--line {
  width: 861px;
  height: 1px;
  background: #fff;
}
@media screen and (max-width: 1350px) {
  .home--section .Content .image .center--text .stats--line {
    width: 561px;
  }
}

.information {
  text-align: left;
  display: flex;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 64px;
}
.information .things3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information .things3 .article--p {
  margin-bottom: 48px;
}
.information figure {
  margin-left: 0;
}
.information stats-line {
  color: black;
  width: 10px;
}
.information .text {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 24px;
  margin-top: 20px;
}
@media screen and (max-width: 1348px) {
  .information .text {
    margin-top: 20px;
  }
}

.long-line {
  background: black;
  width: 1094px;
  height: 2px;
}

.text-line {
  background: black;
  width: 72px;
  height: 2px;
}

.test {
  gap: 24px;
  display: flex;
  align-items: center;
  position: relative;
}

.long-line {
  background-color: #e5e5e5;
  height: 1px;
  width: 89%;
}

p {
  font-size: 1.6rem;
  line-height: 2.55rem;
}

button {
  margin-top: 48px;
}

.wrapper-2 {
  display: flex;
  gap: 96px;
}
@media screen and (max-width: 1348px) {
  .wrapper-2 {
    display: flex;
    gap: 0;
    flex-direction: column-reverse;
  }
}

test1 {
  gap: 96px;
}

img {
  gap: 96px;
}
img :hover {
  cursor: pointer;
}

.logos {
  gap: 96px;
  display: flex;
}
@media screen and (max-width: 1350px) {
  .logos {
    width: 628px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.services {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #eff7f2;
}
.services figure {
  margin-left: 0;
}
.services h4 {
  color: #1d2130;
  font-size: 20px;
  margin-bottom: 0px;
}
.services .green-square {
  display: flex;
  margin-top: 24px;
}
.services p {
  margin-bottom: 0px;
}
.services .last-p {
  margin-bottom: 16px;
}
.services .services-flex {
  display: flex;
  align-items: flex-end;
  padding-top: 147px;
  padding-bottom: 96px;
  gap: 96px;
}
@media screen and (max-width: 1410px) {
  .services .services-flex {
    display: flex;
    flex-direction: column-reverse;
  }
}
.services .services-flex .square-and-text {
  border-left: 1px solid #e5e5e5;
  padding-left: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.services .services-flex .square-and-text .logo-h4:first-child h4 {
  margin-top: 0px;
}
.services .services-flex .square-and-text .logo-h4:first-child .green-square {
  margin-top: 0px;
}
.services .services-flex .title-and-p h2 {
  margin-bottom: 16px;
}
.services .services-flex .title-and-p p {
  margin-bottom: 32px;
}
.services .logo-h4 {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.articles {
  display: flex;
  justify-content: center;
  padding-bottom: 96px;
  padding-top: 96px;
}
.articles .shadow--block {
  width: 411px;
  height: 421px;
  background: black;
  opacity: 50%;
  z-index: 0;
  border-radius: 12px;
}
.articles h2 {
  margin-left: 109px;
}
.articles .article__container {
  display: flex;
  justify-content: center;
  gap: 24px;
}
@media screen and (max-width: 1348px) {
  .articles .article__container {
    flex-wrap: wrap;
  }
}
.articles .article__container article {
  display: flex;
  align-items: center;
}
.articles .article__container article .article__one--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 80px;
  margin-left: 48px;
  position: absolute;
}
.articles .article__container article .article__one--text p {
  color: white;
  margin-bottom: 64px;
  margin-top: 0;
}
.articles .article__container article .article__one--text h3 {
  margin-bottom: 16px;
  margin-top: 0;
}
.articles .tree--image {
  height: 80rem;
  background-image: url("../images/project-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 411px;
  height: 421px;
  border-radius: 12px;
}
.articles .city--image {
  height: 80rem;
  background-image: url("../images/project-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 411px;
  height: 421px;
  border-radius: 12px;
}
.articles .city--image .shadow--block {
  width: 411px;
  height: 421px;
  background: black;
  opacity: 80%;
  z-index: 0;
  border-radius: 12px;
}
.articles .Wildlife--image {
  height: 80rem;
  background-image: url("../images/project-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 411px;
  height: 421px;
  border-radius: 12px;
}

.Donations {
  height: 1047px;
}
.Donations h2 {
  color: #fff;
}
.Donations .black {
  margin-bottom: 96px;
  background-color: black;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Donations .black__content {
  display: flex;
  align-items: center;
  gap: 230px;
}
.Donations .black__content p {
  color: white;
  opacity: 80%;
}
@media screen and (max-width: 1300px) {
  .Donations .black__content {
    gap: 20px;
  }
  .Donations .black__content h2 {
    font-size: 3rem;
  }
}
.Donations .black__text {
  display: flex;
  align-items: center;
  gap: 247px;
}
.Donations .black .spending {
  display: flex;
  gap: 24px;
}
.Donations .black .spending p {
  color: #fff;
}
.Donations .black .spending .percentage {
  display: flex;
  align-items: center;
  gap: 8px;
}
.Donations .black .spending .planting {
  background-color: #bef3c0;
}
.Donations .black .spending .cleaning {
  background-color: #ac94f1;
}
.Donations .black .spending .helping {
  background-color: #fff0ca;
}
.Donations .black .spending--2 {
  display: flex;
  gap: 24px;
}
.Donations .black .spending--2 p {
  color: #fff;
}
.Donations .black .spending--2 .percentage {
  display: flex;
  align-items: center;
  gap: 8px;
}
.Donations .black .spending--2 .percentage__1 {
  background-color: #bef3c0;
}
.Donations .black .spending--2 .safety {
  background-color: #f9cf64;
}
.Donations .black .spending--2 .feeding {
  background-color: #f38fbf;
}
.Donations img {
  width: 375px;
  height: 375px;
}
@media screen and (max-width: 1300px) {
  .Donations img {
    width: 300px;
    height: 300px;
    margin-right: 35px;
  }
}

.contribute {
  margin: 0 auto;
  width: 1280px;
  height: 384px;
  background-image: url(../images/volunteer-donate.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contribute h2 {
  margin-top: 0;
}
.contribute__content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex-direction: column;
}
.contribute__content--buttons {
  gap: 32px;
  display: flex;
}
.contribute__shadow {
  background: black;
  border-radius: 12px;
  opacity: 50%;
  position: absolute;
  width: 1280px;
  height: 384px;
  z-index: 0;
}
@media screen and (max-width: 1348px) {
  .contribute__shadow {
    width: 98%;
    border-radius: 12px;
  }
}
@media screen and (max-width: 1348px) {
  .contribute {
    width: 98%;
    border-radius: 12px;
  }
}

.news h4 {
  color: #1c1d28;
}
.news .header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.news .header .roboto-medium {
  font-size: 4rem;
}
.news .header .long-line {
  width: 981px;
  height: 1px;
}
@media screen and (max-width: 1440px) {
  .news .header .long-line {
    width: 326px;
  }
}
.news .news__articles {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.news .news__articles a {
  color: unset;
  text-decoration: unset;
}
.news .news__articles .roboto-medium {
  font-size: 2rem;
}
@media screen and (max-width: 1440px) {
  .news .news__articles {
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.event .header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  cursor: pointer;
}
@media screen and (max-width: 1377px) {
  .event .header {
    flex-wrap: wrap;
  }
}
.event .header .roboto-medium {
  font-size: 4rem;
}
.event .header .long-line {
  width: 1062px;
  height: 1px;
}
@media screen and (max-width: 1377px) {
  .event .header .long-line {
    width: 390px;
  }
}
.event--wrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
}
@media screen and (max-width: 1377px) {
  .event--wrapper {
    flex-wrap: wrap;
  }
}
.event__one {
  background-color: #bef3c0;
  width: 628px;
  height: 191px;
  border-radius: 8px;
  display: flex;
  gap: 24px;
}
.event__one .date {
  margin-left: 40px;
}
.event__one .date h2 {
  margin-top: 32px;
  margin-bottom: 0px;
}
.event__one .text {
  height: 111px;
  display: flex;
  flex-direction: column;
}
.event__one .text .fix-line {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.event__one .text .text-line {
  width: 44px;
}
.event__one:hover {
  background-color: #b3e6b5;
  animation-duration: 0.3ms;
  cursor: pointer;
}
.event h3 {
  margin-top: 8px;
  color: #1d2130;
}
.event h5 {
  margin-top: 0;
  font-size: 1.6rem;
  margin-bottom: 0;
}
.event .button {
  background: #fff;
  width: 56px;
  height: 56px;
  margin: 0 auto;
  margin-top: 64px;
  margin-right: 48px;
  border: 0px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer {
  gap: 143px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  height: 402px;
  background: black;
}
@media screen and (max-width: 1350px) {
  .footer {
    display: flex;
    height: 721px;
    flex-direction: column;
  }
}
.footer .footer--wrapper {
  display: flex;
  gap: 117px;
  align-items: flex-start;
}
.footer .footer--wrapper img {
  cursor: pointer;
}
.footer .footer--wrapper .footer__list {
  height: 210px;
  display: flex;
  justify-content: center;
  line-height: 45px;
  gap: 88px;
}
.footer .footer--wrapper h5 {
  margin-top: 0px;
  color: #fff;
}
.footer .footer--wrapper a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  opacity: 78%;
}
.footer .footer--wrapper p {
  color: #fff;
  font-size: 1.6rem;
  line-height: 140%;
  margin-top: 0;
}
.footer .footer--wrapper p :hover {
  text-decoration: none;
}
.footer .footer--wrapper ul {
  padding-left: 0;
}
.footer .footer--wrapper ul :hover {
  text-decoration: underline;
}
.footer .footer--wrapper ul li {
  margin-left: 0px;
}
.footer .Subscribe p {
  color: #fff;
  font-size: 4rem;
  margin-top: 0;
  line-height: 56px;
}
.footer .Subscribe .Subscribe__email {
  display: flex;
}
.footer .Subscribe .Subscribe__email .email {
  font-size: 2rem;
  padding-left: 10px;
  width: 456px;
  height: 64px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid rgba(235, 240, 249, 0.3);
  border-right: transparent;
  width: 456px;
  color: white;
}
.footer .Subscribe .Subscribe__email .email :focus {
  padding: 1px;
}
.footer .Subscribe .Subscribe__email button {
  margin-top: 0;
  border: transparent;
  margin-left: -48px;
  cursor: pointer;
}

/*# sourceMappingURL=general.css.map */
